<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">

    <div class="container d-flex align-items-center flex-column ">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="../../../assets/img/BYTESOFT.BMP " height='120' width='1250' />

        <app-title [title]="'Tienda'" [main]='true'></app-title>

        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0 ">Computadoras - Accesorios - Desarrollo de Sistemas</p>
    </div>
</header>